<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.develog.user.UserMapper">

    <insert id="join" parameterType="com.example.develog.user.UserDto">
        INSERT INTO USER
            (user_id,
             password,
             username,
             birthday,
             email,
             phone_no,
             role,
             created_at,
             gender)
        VALUES
            (#{userId},
             #{password},
             #{username},
             #{birthday},
             #{email},
             #{phoneNo},
             #{role},
             current_timestamp,
             #{gender})
    </insert>

</mapper>