<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/join}" method="post">
    <label for="userId">아이디</label>
    <input type="text" id="userId" name="userId" maxlength="20" required>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" maxlength="30" required>

    <label for="username">이름</label>
    <input type="text" id="username" name="username" maxlength="8" required>

    <label for="birthday">생년월일</label>
    <input type="text" id="birthday" name="birthday" maxlength="6" required>

    <label for="email">이메일</label>
    <input type="text" id="email" name="email" maxlength="30" required>

    <label for="phoneNo">핸드폰 번호</label>
    <input type="text" id="phoneNo" name="phoneNo" maxlength="11" required>

    <label for="man">남자</label>
    <input type="radio" id="man" name="gender" value="1" checked>
    <label for="woman">여자</label>
    <input type="radio" id="woman" name="gender" value="2">

    <input type="hidden" id="role" name="role" value="사용자">

    <button type="submit">가입</button>
</form>
</body>
</html>